body {
  height: 120vh;
  background-color: rgb(122, 122, 122);
}

h1 {
  color: rgb(150, 150, 150);
  float: right;
  padding-right: 0px;
  padding-left: 40px;
  padding-bottom: 10px;
  width: 200px;
  text-decoration-line: underline;
  font-variant: small-caps;
  box-shadow: 2px 2px 5px rgb(200, 200, 200), -2px -2px 1px rgb(200, 200, 200);
}

#fancy-gallery {
  position: relative;
  top: 20px;
}

form {

  position: absolute;
  top: 400px;
  left: 750px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(100, 100, 100, .5);
  padding: 10px;
  border-radius: 5px;
  transition: all .3s ease-out;
  z-index: 500;
}

@media (max-width:900px) {
  form {
    transition: all .3s ease-in;
    transform: translate(-10px, 140px);
  }

  form:hover {
    transition: all .3s ease-in;
    transform: translate(-160px, 140px);


  }
}


form select {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}

form select option {
  border-radius: 5px;
}

form select option:active {
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;

}


footer {
  position: absolute;
  right: 0px;
  bottom: -200px;
  left: 0px;
  padding: auto auto auto 40px;
  padding-bottom: 1rem;
  clear: both;
  position: relative;
  transform: translate(0px, -110px);
  z-index: 400;
  height: 40px;
  margin-top: 20px;
  background-color: #ffffff;
  font-size: 13px;
  color: #000000;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 40px;
  width: 100vw;
  text-align: left !important;
}

footer a {
  right: 5px;
  text-decoration: none;
  color: #101010;
  position: relative;
  top: -40px;
  left: 70px;
}